{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" href="{% static "critique/styles/styles.css" %}" />
        <title>CritBook</title>
    </head>

    <body>
    	<div id="container" class="{% block container_class %}{% endblock %}">
			<div id="sidebar">
		    	{% block sidebar %}{% endblock sidebar %}
		    </div>
    		<div id="content">
		    	{% block content %}{% endblock content %}
		    </div>
		</div>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript" ></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
	    <script src="{% static "critique/js/app.js" %}"></script>
    </body>
</html>